<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styleabout.css" />
  </head>
  <body>
    <h1>About Christiano Ronaldo</h1>
    <h2>Christiano Ronaldo</h2>
    <img src="/images/cr7.jpg" alt="CR 7 2">
    <p><span>Full name:</span> Cristiano Ronaldo dos Santos Aveiro</p>
    <p><span>Date of birth:</span> 5 February 1985 (age 37)</p>
    <p><span>Place of birth:</span> Funchal, Madeira, Portugal</p>
    <p><span>Height:</span> 1.87 m (6 ft 2 in)</p>
    <p><span>Position:</span> Forward</p>

    <h3>Family:</h3>
    <p>Ronaldo has six children. He first became a father to a son, Cristiano Jr., born on 17 June 2010 in the United States.
        He stated that he has full custody of the child and would not be publicly revealing the identity of the mother per an agreement with her.
        In January 2015, Ronaldo announced that his five-year relationship with Russian model Irina Shayk had ended.
        Ronaldo became a father to twins,[529] daughter Eva and son Mateo, born on 8 June 2017 in the United States via surrogacy. He is currently in a relationship with Argentine-Spanish model Georgina Rodríguez, who gave birth to their daughter Alana Martina on 12 November 2017.[531] The couple expected their second pair of twins, though the male twin died during childbirth; the surviving female twin was named Bella Esmeralda.
        Ronaldo's father, José, died of an alcoholism-related liver condition at age 52 in September 2005 when Ronaldo was 20.
     </p>
     <h3>Health:</h3>
     <p>Ronaldo has said that he does not drink alcohol, and he received libel damages over a Daily Mirror article that reported him drinking heavily in a nightclub while recovering from an injury in July 2008.
        He also does not have any tattoos as he regularly donates blood and bone marrow.</p>

      <h3>Philanthropy:</h3>
      <p>Ronaldo has made contributions to various charitable causes throughout his career. 
        Television footage of the 2004 Indian Ocean earthquake and tsunami showed an eight-year-old boy survivor named Martunis wearing a Portuguese football shirt who was stranded for 19 days after his family was killed. 
        Following this, Ronaldo visited Aceh, Indonesia, to raise funds for rehabilitation and reconstruction. After accepting undisclosed damages from a libel case against The Sun newspaper in 2008, Ronaldo donated the damages to a charity in Madeira.
        In 2009, Ronaldo donated £100,000 to the hospital that saved his mother's life in Madeira following her battle with cancer, so that they could build a cancer centre on the island.
        In support of the victims of the 2010 Madeira flood, Ronaldo pledged to play in a charity match in Madeira between Primeira Liga club Porto and players from Madeiran-based clubs Marítimo and Nacional.
    </p><p>
        In 2012, Ronaldo and his agent paid for specialist treatment for a nine-year-old Canarian boy with apparently terminal cancer.
        In December 2012, Ronaldo joined FIFA's "11 for Health" programme to raise awareness amongst kids of how to steer clear of conditions including drug addiction, HIV, malaria, and obesity.
        In January 2013, Ronaldo became Save the Children's new Global Artist Ambassador, in which he hopes to help fight child hunger and obesity.
        In March 2013, Ronaldo agreed to be the ambassador for The Mangrove Care Forum in Indonesia, an organisation aiming to raise awareness of mangrove conservation.
    </p>
      <p>
        Ronaldo was named the world's most charitable sportsperson in 2015 after donating £5 million to the relief effort after the earthquake in Nepal which killed over 8,000 people.
        In June 2016, Ronaldo donated the entirety of his €600,000 Champions League bonus after Real Madrid won the Champions League.
        In August, Ronaldo launched CR7Selfie, a selfie app for charity to help Save the Children that lets participants take a selfie with him in one of several different outfits and poses.
      </p>  



    <a href="/home"> Back to CR7</a>
  </body>
</html>