<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
</head>
<body>

    <h1>Welcome to Christiano Ronaldo</h1>
    
    <div class="pt-flag">
        <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F05d9d1f4-dad5-46b4-9b56-b54a8d962751_600x400.gif" alt="Portugal video">
    </div>

    <a href="/about" class="link"> About</a>
    <a href="/works" class="link"> Works</a>

<div class="cr7" >
    <h3>Calma Calma</h3>
    <img src="https://media1.giphy.com/media/r1IMdmkhUcpzy/giphy.gif" alt="CR7 video">
</div>
</body>
</html>