<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/styleworks.css">
</head>
<body>
    <h1>Career and success</h1>
    <h3>My professional Career</h3>

             <h4>Sporting CP</h4>

        <p>At age 16, Ronaldo was promoted from Sporting's youth team by first-team manager László Bölöni, who was impressed with his dribbling.
            He subsequently became the first player to play for the club's under-16, under-17 and under-18 teams, the B team and the first team, all within a single season.
            A year later, on 29 September 2002, Ronaldo made his debut in the Primeira Liga, against Braga and on 7 October, he scored two goals against Moreirense in their 3–0 win.
            Over the course of the 2002–03 season, his representatives suggested the player to Liverpool manager Gérard Houllier and Barcelona president Joan Laporta.
            Manager Arsène Wenger, who was interested in signing Ronaldo, met with him at Arsenal's grounds in November to discuss a possible transfer.
            Manchester United manager Alex Ferguson was determined to acquire Ronaldo on a permanent move urgently, after Sporting defeated United 3–1 at the inauguration of the Estádio José Alvalade in August 2003. Initially, United had planned to sign Ronaldo and loan him back to Sporting for a year.
            Having been impressed by him, the United players urged Ferguson to sign him. After the game, Ferguson agreed to pay Sporting £12.24 million for what he considered to be "one of the most exciting young players" he had ever seen.
            A decade after his departure from the club, in April 2013, Sporting honoured Ronaldo by selecting him to become their 100,000th member.</p>
   
            <h4>Manchester United</h4>

    <p>Ronaldo's move to Manchester United was completed on 12 August 2003, too late for the 2003 FA Community Shield but in time for their game against Bolton Wanderers on the opening day of the 2003–04 season, and made him the first Portuguese player to sign for the club.
        His transfer fee made him, at the time, the most expensive teenager in English football history.[31] Although he requested the number 28, his number at Sporting, he received the squad number 7 shirt, which had previously been worn by such United players as George Best, Eric Cantona and David Beckham.
        Wearing the number 7 became an extra source of motivation for Ronaldo.[33] A key element in his development during his time in England proved to be Ferguson, of whom he later said: "He's been my father in sport, one of the most important and influential factors in my career."
    </p>

            <h4>Real Madrid</h4>

    <p>Ahead of the 2009–10 season, Ronaldo joined Real Madrid for a world record transfer fee at the time, of £80 million (€94 million).
        His contract, which ran until 2015, was worth €11 million per year and contained a €1 billion buy-out clause.
        At least 80,000 fans attended his presentation at the Santiago Bernabéu, surpassing the 25-year record of 75,000 fans who had welcomed Diego Maradona at Napoli.
        Since club captain Raúl already wore the number 7 (the number Ronaldo wore at United), Ronaldo received the number 9 shirt,[109] which was presented to him by former Madrid player Alfredo Di Stéfano.
        Following Raúl's departure, Ronaldo was given the number 7 shirt for Madrid before the 2010–11 season.    
        In 2014 Ronaldo win La Decima with Real Madrid. Real Madrid haven't win the Champions League in 12 years.
        Ronaldo won the Champions League fifth times in his career and the fifth Ballon d'Or.
    </p>

            <h4>Juventus</h4>

        <p>Despite months of negotiation to sign a new Real Madrid contract, on 10 July 2018, Ronaldo signed a four-year contract with Italian club Juventus after completing a €100 million transfer, which included an additional €12 million in other fees and solidarity contributions to Ronaldo's youth clubs.
            The transfer was the highest ever for a player over 30 years old,[226] and the highest paid by an Italian club.[227] Upon signing, Ronaldo cited his need for a new challenge as his rationale for departing Madrid, but later attributed the transfer to the lack of support he felt was shown by club president Florentino Pérez.
            On 18 August, Ronaldo made his debut in a 3–2 away win against ChievoVerona.</p>

            <h4>Manchester United</h4>
        <p>On 27 August 2021, Manchester United announced they had reached an agreement with Juventus to re-sign Ronaldo, subject to agreement of personal terms, visa and medical.
            The transfer was reported as costing an initial £12.85 million, with a two-year contract plus an optional year, and was confirmed on 31 August.
            Ronaldo was given the number 7 shirt after Edinson Cavani agreed to switch to 21.
            The first 24 hours of Ronaldo's shirt sales was reported to have broken the all-time record following a transfer.
            He was named the Premier League Player of the Month for April, and was voted in the Premier League Team of the Year;
            however, with United finishing a disappointing sixth place and qualifying for the UEFA Europa League, Ronaldo went trophyless for the first time since 2010.
        
        </p>

            <h4>National Team - Portugal</h4>
            <p>

            One day after his 22nd birthday, Ronaldo captained Portugal for the first time in a friendly game against Brazil on 6 February 2007, as requested by Portuguese Football Federation (FPF) president Carlos Silva, who had died two days earlier.
            Ahead of Euro 2008, he was given the number 7 shirt for the first time.
             </p>
             <p>
                During the qualification for the 2014 World Cup, Ronaldo scored a total of eight goals. 
                A qualifying match on 17 October 2012, a 1–1 draw against Northern Ireland, earned him his 100th cap.
                His first international hat-trick also came against Northern Ireland, when he scored three times in a 15-minute spell of a 4–2 qualifying win on 6 September 2013.
                After Portugal failed to qualify during the regular campaign, Ronaldo scored all four of the team's goals in the play-offs against Sweden, billed as a battle between Ronaldo and Zlatan Ibrahimović, which ensured their place at the tournament.
                His hat-trick in the second leg took his international tally to 47 goals, equaling Pauleta's record.[337] Ronaldo subsequently scored twice in a 5–1 friendly win over Cameroon on 5 March 2014 to become his country's all-time top scorer.
             </p>
            <p>   
                In Euro 2016, Portugal won their first international title after beating France 1-0 after extra time in the final.
                It is the first time a player and at the sametime being a "coach" has ever won the European Cup in the football history.
                In 2021 Ronaldo is all time international top goalscorer.
            </p>




<h3>My trophys</h3>
<article>
    <img src="/images/første.png" alt="CR7 trophy 1">
    <img src="/images/Nest øverst.png" alt="CR7 trophy 2">
    <img src="/images/Nest siste.png" alt="CR7 trophy 3">
    <img src="/images/siste.png" alt="CR7 trophy 4">
</article>




<a href="/home"> Back to CR7</a>
</body>
</html>